# Go-Build-Artefakte
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/
*.test
*.out

# Haskell-Build-Artefakte
*.hi
*.o
*.dyn_o
*.dyn_hi
*.prof
*.aux

# Cabal spezifisch
dist/
dist-newstyle/
.cabal-sandbox/
cabal.sandbox.config
*.cabal.project.local
*.buildinfo
*.ghc.environment.*

# Stack spezifisch
.stack-work/
.stack/
*.stack-work/

# Generierte Dateien und temporäre Verzeichnisse
*.haddock
*.log
*.tmp
*.cache/

# Editor-spezifische Dateien
*.swp
*.swo
*.tmp
.idea/
.vscode/
*.DS_Store
